{{template "header" }}
<nav>
	<ul>
		<li>Home</li>
		<li><a href="/object">Controller</a></li>
		<li><a href="/crud">Crud</a></li>
		<li><a href="/markdown">Markdown</a></li>
		<li><a href="/websocket">Websocket</a></li>
		<li><a href="/sql">Sql Util</a></li>
	</ul>
</nav>

<div class="content">
	<h1>{{.Title}}</h1>
	<p>Nexio is basic simple MVC framework using golang</p>
	<p>Package Nexigo: </p>
	<p>
		<pre>import "github.com/nexigolabs/nexigo"</pre>
	</p>
	<h3>Features</h3>
	<ul>
		<li>Routing</li>
		<li>Serve Http</li>
		<li>Controller</li>
	</ul>
	<h3>Routing</h3>
	<p>Example :</p>
	<p>
		<pre>
import (
	"github.com/nexigolabs/nexigo"
)

func main() {
	nexigo.Route("/", &ctl.HomeController{})
	nexigo.Route("/crud/", &ctl.CrudController{})
	nexigo.Route("/markdown", &ctl.MarkdownController{})
	nexigo.Route("/websocket", &ctl.WebsocketController{})
	nexigo.Route("/sql", &ctl.SqlController{})
	...
}
			</pre>		
		</p>

		<h3>Serve Http</h3>
		<p>Example :</p>
		<p>
			<pre>
import (
	"github.com/nexigolabs/nexigo"
)

func main() {
	...
	nexigo.Run()
}
		</pre>		
	</p>
</div>
{{template "footer"}}